.background_image {
    background-image: url(pictures/b4_stars.png);
    height: 145px;
/*    width: 300px;
*/    background-size: cover;
}


.header {
  padding: 8px;
  text-align:left;
/*  background: #191970;
*/  color: white;
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button-1 {
  margin: 0;
  position: absolute;
  left: 30%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.button-2 {
  margin: 0;
  position: absolute;
  left: 40%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.button-3 {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.button-4 {
  margin: 0;
  position: absolute;
  left: 60%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

html {
    font-family:arial;    
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #eee;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #333;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 80px;
  text-align: center;
  background: #000; 
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

#hed1{
    padding:20px;
    float:left;
}
#hed2{
    padding:20px;
}